{{ define "body-class" }}
  article-page

  {{/* Enable the right sidebar if:
       - Widget different from 'TOC' is enabled
       - TOC is enabled and not empty */}}
  
  {{- $hasWidgetNotTOC := false -}}
  {{- $tocWidgetEnabled := false -}}
  
  {{- range .Site.Params.widgets.page -}}
    {{- if ne .type "toc" -}}
      {{- $hasWidgetNotTOC = true -}}
    {{- else -}}
      {{- $tocWidgetEnabled = true -}}
    {{- end -}}
  {{- end -}}

  {{- $tocManuallyDisabled := eq .Params.toc false -}}
  {{- $tocEnabled := and (not $tocManuallyDisabled) $tocWidgetEnabled -}}
  {{- $hasTOC := ge (len .TableOfContents) 100 -}}
  
  {{- .Scratch.Set "tocEnabled" (and $tocEnabled $hasTOC) -}}
  {{- .Scratch.Set "hasWidget" (or $hasWidgetNotTOC (and $tocEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
  {{ partial "article/article.html" . }}

  {{/* Google AdSense Ad Units */}}
  {{ if not (eq .Params.ads false) }}
    <div class="ad-container">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9016996582695836" crossorigin="anonymous"></script>
      
      {{/* Article ad unit */}}
      <ins class="adsbygoogle"
           style="display:block; margin: 20px 0; text-align:center;"
           data-ad-client="ca-pub-9016996582695836"
           data-ad-slot="2146058862"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  {{ end }}

  {{ if .Params.links }}
    {{ partial "article/components/links" . }}
  {{ end }}

  {{ partial "article/components/related-content" . }}

  {{ if not (eq .Params.comments false) }}
    {{ partial "comments/provider/disqus.html" . }}
  {{ end }}

  {{ partialCached "footer/footer" . }}
  {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "right-sidebar" }}
  {{ if .Scratch.Get "hasWidget" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}
  {{ end }}
{{ end }}